.page_title{
    height: 100px;
    display: flex;
    align-items: center;
}

.page_title h1{
    font-weight: 700;
    font-size: 40px;
}

.container_all_sale_products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    justify-content: space-between;
    column-gap: 20px;
}

.filter{
    margin: 50px 0 50px 0;
}

@media (max-width:1150px){
    .container_all_sale_products{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container_all_sale_products div{
        width: 300px;
    }
}