.wrapper_sort {
  width: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_min_max {
  display: flex;
  flex-direction: row;
}

.container_sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 20px;
}

.sort_sale {
  display: none;
}

.price_input {
  margin-right: 20px;
  padding: 10px;
  width: 103px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 7px;
  background-color: white;

  font-weight: 500;
  font-size: 16px;
}

.price_input::-webkit-inner-spin-button,
.price_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.ranger_btn {
  width: 42px;
  height: 42px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.ranger_icon {
  width: 35px;
  height: 35px;
}

.discount_input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0px 10px;

  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 7px;
  background-color: white;
}

.discount_input:checked {
  background-color: white;
}

.discount_input:checked:before {
  content: "\2713";
  color: black;
  font-weight: bold;
  padding: initial;
  font-size: 25px;
}

.select_input {
  width: 219px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 7px;
  background-color: white;
  color: #797979;
}

@media (max-width:1150px){

  .wrapper_sort {
    flex-wrap: wrap;
    width: 360px;
  }

  .discount_input,
  .container_sort{
    margin-bottom: 20px;
  }

  .discount_input{
    margin-top: 15px;
  }

}

@media (max-width:550px){
  .wrapper_sort{
    margin-left: -15px;
  }
}